<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%=title%></title>
  <!-----custom css link------>
  <link rel="stylesheet" href="/assets/css/register.min.css" />

  <!-----google font link------>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet" />

  <!-- meterial icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
 <!-----custom icons---->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
 <!-- another google font icon link -->
 <link rel="stylesheet"
   href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <!-- Bootstrap CDN  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>

  
</head>

<!-- register section start -->

<body>

  <!-----Header Start------->
  <header>
    <div class="top_nav_section container-fluid">

      <!-----Announcement Text----->
      <div class="announcement_text">
        <span>Due to the COVID 19 epidemic, orders may be processed with a slight delay</span>
      </div>


      <div class="top_nav_items">

        <!-----Language Dropdown----->
        <div class="language_dropdown">
          <div class="dropdown-center">
            <button class="language_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              EN
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">EN</a></li>
              <li><a class="dropdown-item" href="#">Deutsch</a></li>
              <li><a class="dropdown-item" href="#">Français</a></li>
            </ul>
          </div>
        </div>

        <!-----Money Dropdown----->
        <div class="money_dropdown">
          <div class="dropdown-center">
            <button class="money_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              $ USD
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> $ USD</a></li>
              <li><a class="dropdown-item" href="#"> $ EUR</a></li>
            </ul>
          </div>
        </div>

        <!-----Account Dropdown----->
        <div class="account_dropdown">
          <div class="dropdown-center">
            <button class="account_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i> My Account
            </button>
            <div class="dropdown-menu">

              <input type="text" name="username" id="dropdown_username" placeholder="Username">
              <br>
              <input type="password" name="password" id="dropdown_password" placeholder="Password">
              <br>
              <input class="account_login_btn" type="submit" value="Log in">

              <h6><a href="">Forgot password?</a></h6>
              <h6>Don't have account yet? <a href="">Register here</a></h6>
            </div>
          </div>

          
        </div>
      </div>
  </header>
  <!-----Header End------->


  <!-----Main Start-------->
  <div class="register_wrapper">
    <div class="register_wrap mx-auto">
      <h1 class="register_title">Register Here</h1>

      <!-- register form -->
      <form action="/register" method="post">

        <div class="d-flex justify-content-between">
        <!-- first name section -->

        <div class="mb-2 me-2">
            <label for="firstName" 
              class="form-label text-white">
            <b>First Name </b>
            </label>

            <input  
              class="form-control" 
              value="<%=user.firstName? user.firstName : ''%>" id="firstName"
              type="text"
              placeholder="First Name"
              name="firstName"
              required
            />
            <% if(error.firstName){ %>
              <p class="error"><%= error.firstName.msg %></p>
            <% } %>
              
            <!-- <p class="error">*First name is required</p> -->

          </div>
        <!-- last name section -->

          <div class="mb-2">

            <label for="lastName " class="form-label text-white"><b>Last Name </b></label>

            <input
              class="form-control"
              id="lastName" 
              type="text"
              value="<%=user.lastName? user.lastName : ''%>"
              placeholder="Last Name" 
              name="lastName"
              required
              />
              <% if(error.lastName){ %>
                <p class="error"><%= error.lastName.msg %></p>
              <% } %>
            <!-- <p class="error">*Last name is required</p> -->
          </div>
        </div>


        <!-- user name section -->
       <div class=" mb-2">
          <label for="username" 
          class="form-label text-white">
          <b>Username </b>
          </label>

          <div class="input-group">
          <span 
          class="input-group-text fw-bold text-secondary material-icons" 
          id="basic-addon1">person
          </span>
            <input class="form-control"
            id="userName" type="text"
            placeholder="Enter Your Username"
            name="username"
            value="<%=user.username? user.username : ''%>"
            required
            />
            
          </div>
            <% if(error.username){ %>
              <p class="error"><%= error.username.msg %></p>
            <% } %>
            <p class="error" id="usernameError"></p>
          <!-- <p class="error">*Username is required</p> -->
        </div>


        <!-- email section -->
         <div class="mb-2">
          <label for="email" class="form-label text-white"><b>Email </b></label>

         <div class="input-group">
          <span 
           class="input-group-text fw-bold text-secondary material-icons" 
           id="basic-addon1">email
          </span>
          <input class="form-control"
          id="email" type="email"
           placeholder="Enter Your Email"
           name="email" 
           name="email"
           value="<%=user.email? user.email : ''%>"
           required
            />

         </div>
            <% if(error.email){ %>
              <p class="error"><%= error.email.msg %></p>
            <% } %>
            <p class="error" id="emailError"></p>
          <!-- <p class="error">*Email is required</p> -->
        </div>
        <!--  password section -->

        <div class=" mb-2">
          <label for="firstName" class="form-label text-white"><b>Password </b></label>
          <div class="input-group">
            <span style="cursor:pointer"
            class="input-group-text fw-bold text-secondary material-icons"
            id="basic-addon1">lock</span>

            <input class="form-control passwordFiled"
            id="password"
            type="password"
            placeholder="Enter your password"
            name="password"
            required />

            <span style="cursor:pointer"
            class="passwordToggler input-group-text fw-bold text-secondary material-icons"
            id="basic-addon1">visibility</span>
          </div>

          <!-- <p class="error \">*Password is required</p> -->
          <% if(error.password){ %>
            <p class="error"><%= error.password.msg %></p>
            <% } %>
            <p class="error" id="passwordError"></p>
        </div>


        <!-- confirm password section -->
        <div class=" mb-2">
          <label for="firstName" 
            class="form-label text-white">
           <b>Confirm Password </b>
         </label>
         <div class="input-group">
            <span style="cursor:pointer"
            class="input-group-text fw-bold text-secondary 
            material-icons"
            id="basic-addon1">lock
            </span>

            <input class="form-control confirmPasswordFiled"
            id="confirm_password"
            type="password"
            placeholder="Enter Your Confirm Password"
            name="confirmPassword" 
            required />

            <span style="cursor:pointer"
            class="input-group-text fw-bold text-secondary 
            material-icons confirmPasswordToggler"
            id="basic-addon1">visibility</span>
            
          </div>
            <% if(error.confirmPassword){ %>
            <p class="error"><%= error.confirmPassword.msg %></p>
            <% } %>
            <p class="error" id="confirmPasswordError"></p>
          <!-- <p class="error firstName-error">*Confirm Password is required</p> -->
        </div>
        
        <!-- //check box section -->
        <div class="d-flex login_footer my-4">
          <div class="mb-1 form-check">
           <input 
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              required />

            <label class="form-check-label" 
              for="exampleCheck1">I agree with the terms
            </label>
          </div>
          <!-- register button  -->
          <button type="submit" 
                  id="register" 
                  class="register">
                  Register Now
          </button>
        </div>
      </form>
        <p class="text-light text-center mt-1 mb-2">
          Already have an account? <a href="/login"> Login here </a>
        </p>
    </div>
  </div>
  <!-----Main End-------->


  <!-----Footer Start--->
  <footer>
    <!-----Newsletter Section Start------>
    <div class="newsletter_section container-fluid">
      <h1>Subscribe</h1>
      <h4>$15 OFF on your first order of $199 or more</h4>

      <h6>Sign up for our Email Newsletter</h6>

      <div class="subscribe_section">
        <form action="" method="">
          <input type="email" name="" id="subscribe" placeholder="Type email..." />
          <select name="" id="select">
            <option value="type of business">Type Of Business</option>
            <option value="auction">Auction</option>
            <option value="automotive Other">Automotive Other</option>
            <option value="autobody">Autoboy</option>
            <option value="distributer">Distributer</option>
            <option value="mechanical">Mechanical</option>
            <option value="new car (1-4 location)">
              New Car (1-4 Location)
            </option>
            <option value="new car (5 + locations)">
              New Car (5 + Locations)
            </option>
            <option value="rv/motor home dealer">Rv/Motor Home Dealer</option>
            <option value="service/ repair facility">
              Service/ Repair Facility
            </option>
            <option value="tire dealer">Tire Dealer</option>
            <option value="used car (1-4 location)">
              Used Car (1-4 Location)
            </option>
            <option value="used car (5+ location)">
              Used Car (5+ Location)
            </option>
            <option value="other">Other</option>
          </select>

          <button class="newsletter_submitBtn">
            <i class="fas fa-paper-plane"></i> Subscribe
          </button>
        </form>
      </div>
    </div>
    <!-----Newsletter Section End------>

    <!-----Footer Menubar Section Start------>
    <div class="footer_menubar container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 company_info">
          <div class="footer_menu_logo">
            <img class="footer_menu_logoImg" src="/assets/images/logo.png" alt="" />
          </div>

          <div class="company_address">
            <h6 class="pt-4">2543 Millennium Drive</h6>
            <h6>Elgin, IL 60124</h6>

            <p>Cell</p>
            <h6><i class="fas fa-mobile"></i> 626-423-2660</h6>
            <h6><i class="fas fa-mobile"></i> 914-928-8286</h6>

            <p>Email: <a href="#">MarketingDoor2DoorLLC@gmail.com</a></p>
          </div>

          <div class="footer_socialmedia">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 category_list">
          <h6>Shop by Category</h6>

          <ul>
            <li class="footerMenu_title">
              <a href="#">Advertising & Sales</a>
            </li>
            <li><a href="#">Apparel</a></li>
            <li><a href="#">Detailling Supplies</a></li>
            <li><a href="#">Envelops & Forms</a></li>
            <li><a href="#">Flags</a></li>
            <li><a href="#">Key Tags</a></li>
            <li><a href="#">Key Storage</a></li>
            <li><a href="#">License Plate Accessories</a></li>
            <li><a href="#">Personalized Products</a></li>
            <li><a href="#">Safety & Personal Protection</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Windshield Marketing</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Seasonal</a></li>
            <li><a href="#">Shop Supplies</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 ourComany_list">
          <h6>Our Company</h6>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Catalog Request</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">Terms &Condition</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 help_info_list">
          <h6>Help & Info</h6>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">ADA Compliance</a></li>
            <li><a href="#">Online Catalog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-----Footer Menubar Section End------>

    <hr class="container" />

    <!-----Footer Copyright Section Start---->
    <div class="container copyright-section">
      <div class="copyright_text">
        <h5>Copyright © 2022 Marketing Door2Door</h5>
      </div>

      <div class="creditCard_image">
        <img class="creditCard_img" src="/assets/images/credit_cardlogos.jpg" alt="" />
      </div>
    </div>
    <!-----Footer Copyright Section End---->
  </footer>
  <!-----Footer End----->
  <script  src="assets/js/eye.js"></script>



<script >
      // password toggler
    const passwordToggler = document.querySelector(".passwordToggler")
    const password = document.querySelector(".passwordFiled")
    passwordTogglerFunc(passwordToggler, password)
    // confirm password toggler
    const confirmPasswordToggler = document.querySelector(".confirmPasswordToggler")
    const confirmPasswordField = document.querySelector(".confirmPasswordFiled")
    passwordTogglerFunc(confirmPasswordToggler, confirmPasswordField)
    

// send request for search
async function searchUsers() {
  const username = usernameInputEl.value;
  const response = await fetch(
    `<%=process.env.APP_URL%>/api/auth/checkUsername/${username}`
  );

  const result = await response.json();
  usernameErrorEl.hidden = false;
  usernameErrorEl.innerHTML = result.msg;
  if (result.status) {
    usernameErrorEl.style.color = "green";
  } else {
    usernameErrorEl.style.color = "red";
  }
}

</script>

  <!------script js------>
  <script src="/assets/js/registrationFrontEndValidator.js"></script>
</body>

</html>